br {
    margin-top: 5px;
    margin-bottom: 5px;
}

#login-card {
    margin-top: 1%;
    margin-bottom: 5%;
}

#issueLabel {
    padding-bottom: 10px;
}

#confirm-button {
    margin-top: 5%;
    margin-bottom: 5px;
}