<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="header-left-element">BringYourBike: </span>
    <span>Admin</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <!-- OPEN BIKE OR FILL NEW REPAIR-->
  <mat-card id="login-card" class="mat-elevation-z8 center-container" style="margin-bottom: 5%;">
    <mat-card-content>

      <br>
      <img id="logo" mat-card-image src="../../assets/wrench.png"
        alt="https://www.iconfinder.com/icons/416405/service_setting_tool_tools_work_wrench_icon">
      <br>
      <mat-card-title>Reparaturservice</mat-card-title>

      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <form class="example-form center-container">
            <mat-form-field class="example-full-width">
              <input #idInput matInput placeholder="PIN eingeben">
            </mat-form-field>
            <button mat-icon-button (click)="onClickGetBike(idInput.value)">
              <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
            </button>
          </form>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="accent" (click)="switchNewRepairToggle()" style="width: 100%;">{{newRepairText}}</button>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card-content>
  </mat-card>

  <!-- SPINNER -->
  <mat-card id="login-card" *ngIf="bike !== undefined && spinnerFinished !== true">
    <mat-spinner id="spinner"></mat-spinner>
  </mat-card>

  <!-- NEW REPAIR -->
  <mat-card color="accent" class="mat-elevation-z8 example-container center-card-margin" *ngIf="newRepairToggle">
    <mat-card-title>Neue Reparatur</mat-card-title>
    <mat-form-field>
      <input #ownerNameInput matInput placeholder="Kundenname">
    </mat-form-field>

    <mat-form-field>
      <input #emailInput matInput placeholder="E-Mail">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Fahrradmodell">
        <mat-option *ngFor="let model of bikeModels" [value]="model">{{model}}</mat-option>
      </mat-select>
    </mat-form-field>

    <span id="issueLabel">Probleme:</span>
    <br>
    <ng-container *ngFor="let issue of issueList">
      <mat-checkbox>{{issue.name}}</mat-checkbox>
      <br>
    </ng-container>

    <button id="confirm-button" mat-raised-button color="primary" (click)="onClickAddBike()">Bestätigen</button>
  </mat-card>

  <mat-card id="login-card" class="mat-elevation-z8 example-container" *ngIf="bike !== undefined">
    <button id="update-bike-button" mat-raised-button color="primary" (click)="onClickUpdateBike()">
      Fahrrad aktualisieren
    </button>
  </mat-card>

</mat-card>