/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$logo-size: 15%;

#login-card {
    margin: 15% 25%
}

.center-container {
    text-align: center;
}

#logo {
    height: $logo-size;
    width: $logo-size;
}

.align-right {
    margin-right: 5%;
}

.spacer {
    flex: 1 1 auto
}

#spinner {
    margin:0 auto;
}