@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$logo-size: 15%;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-bottom {
    display: block;
    margin-bottom: 50% !important;
}

#logo {
    height: $logo-size;
    width: $logo-size;
}

#login-card {
    margin: 15% 25%
}

#spinner {
    margin:0 auto;
}

.center-card-margin {
    margin: 5% 25%
}

.center-container {
    text-align: center;
}


.align-right {
    margin-right: 5%;
}

.spacer {
    flex: 1 1 auto
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
  }

.header-left-element {
    margin-left: 10%;
    margin-right: 2.5%;
}