<mat-toolbar color="primary">
  <span>Bring Your Bike</span>
  <span class="spacer"></span>
  <span *ngIf="bike !== undefined">PIN: {{bike.pin}}</span>
</mat-toolbar>

<mat-card id="login-card" class="center-container" *ngIf="bike === undefined">
  <mat-card-content>
    <mat-card-title>Login</mat-card-title>
    <br>
    <img id="logo" mat-card-image src="../../assets/logo-big.png" alt="Website logo">
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input #idInput matInput placeholder="Enter your PIN">
      </mat-form-field>
      <button mat-icon-button (click)="onClickGetBike(idInput.value)">
        <mat-icon aria-label="Example icon-button with a heart icon">arrow_forward</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card id="login-card" *ngIf="bike !== undefined && spinnerFinished !== true">
  <mat-spinner id="spinner"></mat-spinner>
</mat-card>

<mat-card id="login-card" class="center-container" *ngIf="bike !== undefined && spinnerFinished">
  <mat-card-content>

  </mat-card-content>
</mat-card>