$dot-size: 35px;

.dot-red {
    height: $dot-size;
    width: $dot-size;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .dot-yellow {
    height: $dot-size;
    width: $dot-size;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .dot-green {
    height: $dot-size;
    width: $dot-size;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }