<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bring Your Bike</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="centerContainer">
  <mat-card-header>
    <mat-card-title>Bring Your Back Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <img id="logo" mat-card-image src="../../assets/logo-big.png" alt="Website logo">

    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter your PIN" value="">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>